/**
 * All IE
 */
.oldie {
	
}
.oldie .nav-tabs-info li a {
	padding-right: 10px;
}
.oldie .nav-tabs-info li.active a {
	padding-left: 10px;
}

.rental-fee-info.property h3 {
	font-size: 15px;
}

/**
 * IE 8
 */
.ie8 {
}

.ie8 .textinput, .ie8 .input, .ie8 .text {
margin-bottom:15px;
}
.ie8 .btn{
	border:1px solid #BFBFBF;
}
.ie8 btn:hover{
	background-color:#EFEFEF;
}

/**
 * IE 7
 */
.ie7 .btn{
	border:1px solid #BFBFBF;
}
.ie7 btn:hover{
	background-color:#EFEFEF;
}

.ie7 button.btn,
.ie7 a.btn {
	zoom:1;
	*display: inline;
	_height: 30px;
}
.ie7 .property-view .list-button .btn {
	width: 200px;
}

.ie7 #form-save-search button {
	width:200px;
}

.ie7 .property-view .pager { display: none };
/**
 * IE 6
 */
.ie6 {
}


.rt-tab-recommended{
	width:107px;
}
.rt-tab-browse{
	width:150px;
}
.rt-tab-recommended a, .rt-tab-browse a{
	font-size:11px!important;
}

