/**
 * Print
 */
@media print {

	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}/* Black prints faster: h5bp.com/s */
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}/* Don't show links for images, or javascript/internal links */
	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}/* h5bp.com/t */
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}

	body {
		background: none;
		font: 13px/1.231 Arial, Freesans, sans-serif;
	}
	.header-print {
		border-bottom: 5px solid #56626a;
	}
	.button-print {
		display: none;
	}

	#nav-footer, #header-content, #nav, #menu-main-menu, #search-container, .bx-pager, .bx-prev, .bx-next, #panel-slider-product, #tabs-product, .nav-tabs, #floor-plan .btn, .share-container, .recommended-tabs, .pagestats {
		display: none;
	}

	#slideshow-product, #slider-product, .bx-wrapper, .bx-window, .btn, .btn-break, .btn-large, #side .widget .widget-product a {
		width: auto;
	}

	.property-view #floor-plan, .property-view #map, .property-view #Epc, .buy-container h1, .buy-container h2, .registered-container p, .registered-container .print, .form-horizontal, #form-find-buyer, #side .aside, .featured-sidebar, .map-sidebar, .title-sidebar, .list-widget-branch, #office-map-container a, .btn-primary, .title-job a, .recent, #footer-content, #side, #menu-legals {
		display: none;
	}

	#wrapper {
		padding: 10px;
	}

	.tab-pane {
		padding: 0px;
		margin: 0px;
	}

	#mainImage {
		background: white;
		padding: 0px;
		margin: 0 auto;
	}

	#mainImage img {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	#container, #content, #slideshow-product, #slider-product, img, li, .bx-wrapper, .bx-window {
		margin: 0 auto;
		padding: 0;
	}

	.title-product h1 {
		margin: 10px 0 0 0;
	}
	.title-product h2 {
		margin: 0 0 10px 0;
	}
	.title-product .price {
		font-size: 24px;
	}

	.printonly{
		display:block;
	}
}

